export(LastUTCWeekday)
export(set.alphavantage.key)
export(get.yahoo.prices)
export(get.yahoo.divs)
export(get.html)
export(parse.html.elements)
export(GetWebCsvZoo)
export(stache.exists)
export(stache.create)
export(stache.read)
export(is.pending)
